body {
  padding: 65px 0 0 0;
  margin: 0
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


#result-panel {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#result-panel h2 {
  margin-bottom: 30px;
}

#movies {
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-flex-flow: row wrap; /* Safari 6.1+ */
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.movieCard {
  background:  #ffb542;
  margin-bottom: 15px;
  width: 250px;
  height: 250px;
  margin-left: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  border-radius: 5px;
}

.movieCard:nth-child(odd) {
  background-color: #59c5c7;
}

.movieCard:hover {
  cursor: pointer;
}

.movieCard img {
  height: 150px;
}
